*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section_1{
    background-color: aquamarine;
    width: 100%;
    display: flex;
    /*flex-direction: column;*/
    /*gap: 2px;*/
    justify-content: space-between;
}

.card{
    width: 30%;
    height: 30%;
    padding: 0 auto;
    display: flex;
    border: 5px solid black;
    background-color: rgba(131, 28, 227, 0.536);
}

.links{
    font-size: 10px;
    width: 50px;
    display: flex;
    gap: 5px ;
}