*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

body{
    background-color: black;
}

.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
}

.centrado div{
    width: 200px;
    height: 200px;
    font-size: 10px;
    color: white;
    background-color: coral;
}

@media (max-width: 600px){
    .centrado div{
        background-color: crimson;
    }
    .centrado{
        background-color: blue;
    }
}
